body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.07);
}

.container {
    padding: 20px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid palevioletred;
    font-size: 1.2rem;
}

.header_title {
    display: flex;
}

.title_item {
    margin-right: 16px;
}

.menu_1,
.menu_2 {
    text-decoration: none;
    color: black;
}

.menu_2 {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 4px 6px 0 6px;
    color: palevioletred;
    border: 1px solid palevioletred;
    border-bottom: 0;
}

.content {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.content_body {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
}

.content_footer {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 60px;
    position: absolute;
    height: 100px;
    width: 80%;
    top: 550px;
    left: 140px;
}

.previous,
.next {
    height: 60px;
    width: 25%;
    border: 1px solid rgb(176, 175, 175);
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.previous:hover,
.next:hover {
    cursor: pointer;
    border: 1px solid rgb(88, 88, 88);
}

.content_body {
    position: relative;
    overflow: hidden;
    right: 0;
}

.content {
    margin: 80px;
    position: absolute;
    width: 80%;
    transition: all 1s ease;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.active {
    display: block;
}

.content_en.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.content_vn.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
